body
{
    background-image: url(../img/background1.jpg);   
}

.game-content{
    width: 900px;
    height: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    overflow: auto;
}

.game-title{
    padding-top: 100px;
    padding-bottom: 20px;
    color: #0069d9;
}

 #letterBank{
    width: 780px;
    height: 125px;
    margin: 20px auto;
    font-size: 50px;
    line-height: 60px;
    text-align: center;
}

#letterBank div{
    float: left;
    width: 50px;
    height: 58px;
    margin: 0px 10px 10px 0px;
    cursor: pointer;
    background-color: #614991;
    color: #ffffff;
    border-radius: 5px;
}

#letterBank div:hover{
    background-color: #3e8c4f;
}

#hangmanPicture{
    width: 300px;
    height: 300px;
    display: block;
    margin: 50px auto 0 auto;
    border: 5px double #614991;
    border-radius: 10px;
}

.one {
  background-image: url(../img/background1.jpg);  
  padding: 20px;
  text-align: center;
}
.one h1 {
  font-family: 'Righteous', cursive;
  position: relative;
  color: #382361; 
  display: inline-block;
  border-top: 2px solid;
  border-bottom: 2px solid;
  font-size: 3em;
  padding: 11px 60px;
  margin: 0; 
  line-height: 1;
}
.one h1:before, .one h1:after {
  content: ""; 
  position: absolute;
  top: 0;
  width: 30px;
  height: 100%;
  border-left: 2px solid;
  border-right: 2px solid;
  background: repeating-linear-gradient(180deg, transparent, transparent 3px, #382361 3px, #382361 4px);
}
.one h1:before {left: 0;}
.one h1:after {right: 0;}
@media (max-width: 420px) {
  .one h1 {font-size: 2em;}
}