@font-face{
        font-family: 'Furore';
        src: url('../fonts/furore.otf')
}
@font-face{
        font-family: 'Roboto';
        src: url('../fonts/roboto.ttf')
}
body{
        background-color: #151517;
}
#games{
	    width: 1000px;
	    height: 600px;
        border: 1px solid #90e815;
	    position: absolute;
	    top: 30px;
	    left: 0;
	    right: 0;  	
	    margin-left: auto;
        margin-right: auto;
}
#header{
        height: 5%;
        line-height: 100%;
        padding-top: 10px;
        padding-left: 10px;
        margin-bottom: 10px;
        font-family: 'Furore';
        font-size: 20px;
        color: #90e815;        
}
#main_menu{
  	    height: 95%;
        text-align: center;
}
#game_field{
        height: 95%;
        text-align: center;
        display: none;

}
.mmb{
	    height: 10%;
        width: 130px;
	    background-color: #151517;
        border: 2px solid #6b6e70;
	    outline: none;
        position: relative;
        top: 40%;
        font-family: 'Roboto';
        font-size: 20px;
        color: #90e815;
}
.mmb:hover{
        border: 2px solid #90e815;
}
#cannon{
        position: absolute;
        bottom: 5px;
}