@charset "UTF-8";

body {
    margin: 0px;
    padding: 0px;
}

#field {
    height: 540px;
    width: 630px;
    border: 1px solid black;
    margin: auto;
    margin-top: 200px;
    background-color: RoyalBlue;
    border-radius: 5%;
}

.cell {
    width: 70px;
    height: 70px;
    border: 1px solid rgb(0, 35, 102);
    float: left;
    background-color: white;
    border-radius: 100%;
    margin: 9px;
}
